.search-results {
    margin: 20px;
}

.search-results .search-title,
.search-results .no-resuts {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #025464;
    margin-bottom: 2opx;
}